<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head ('Çalışan Edit')">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
        <!-- SEARCH FORM -->
        <th:block th:include="fragments/header :: searchbar"></th:block>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">MERT UYSAL</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <th:block th:include="fragments/header :: searchbar"></th:block>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                    <th:block
                            th:include="fragments/header :: sidebarMenu ('Dashboard', '#' ,'nav-icon fas fa-tachometer-alt')"></th:block>
                </ul>
            </nav>
        </div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <th:block th:include="fragments/header :: pageHeader ('ÇALIŞAN DÜZENLE')"></th:block>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="container my-2">
                    <div class="card-header">
                        <h3 class="card-title">Çalışan İşlemleri</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <h4>Çalışma Yeri Ekle</h4>
                        <form th:action="@{/calisan/{id}/madenler(id=${calisan.id})}" method="GET"
                              enctype="multipart/form-data">
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label>Çalışan Bilgileri</label>
                                        <br/>

                                        <label for="calisanAdi" class="col-form-label">Çalışan Adı:</label>
                                        <b id="calisanAdi" th:text="${calisan.calisanAdi}"/>
                                        <br/>

                                        <label for="calisanSoyad" class="col-form-label">Çalışan Soyadı:
                                            <b id="calisanSoyad" th:text="${calisan.calisanSoyad}"/>
                                        </label>
                                        <br/>

                                        <label class="col-form-label">Çalışma Yerleri:</label>
                                        <table border="1" class="table table-striped table-responsive-md">
                                            <thead>
                                            <tr>
                                                <th>Maden Adı</th>
                                                <th>Maden Cinsi</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="maden: ${calisan.madenler}">
                                                <td>
                                                    <span th:text="${maden.madenAdi}"></span>
                                                </td>
                                                <td>
                                                    <span th:text="${maden.madenCinsi}"></span>
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                        <select th:field="*{calisan.madenler}"
                                                id="madenler"
                                                name="madenler"
                                                multiple="multiple"
                                                class="form-control">
                                            <option th:each="maden: ${calisan.madenler}"
                                                    th:value="${maden.id}"
                                                    th:text="${maden.madenAdi} + '-' + ${maden.madenCinsi}">
                                            </option>
                                            <br/>
                                        </select>

                                    </div>
                                </div>
                                <br/>

                                <div class="col-md-6">
                                    <select class="form-control" name="madenId">
                                        <option th:each="maden: ${madenler}"
                                                th:value="${maden.id}"
                                                th:text="${maden.madenAdi}">Maden
                                        </option>
                                    </select>
                                </div>

                                <br/>
                                <input type="submit" class="btn btn-success" value="Çalışma Yeri Ekle"/>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <a th:href="@{/}">Çalışan Listesi</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block th:include="fragments/header :: script"></th:block>
</body>
</html>
